
@font-face {
    font-family: Redaction;
    src: url(/assets/fonts/Redaction_70-Regular.woff2);
}

@font-face {
    font-family: Facade Bold;
    src: url(/assets/fonts/gapsansblack-webfont.woff2);
}

@font-face {
    font-family: Facade;
    src: url(/assets/fonts/gapsans-webfont.woff2);
}

