* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    pointer-events: auto;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

:root {
    --color1: #000000;
    --color2: rgb(223, 223, 223);
    --color3: rgb(123, 123, 123);
    --font1: Facade; 
    --font-2: Facade Bold;
}

body{
    background-color: var(--color2);
}

a{
    text-decoration: none;
    color: var(--color1)
}

li{
    list-style: none;
}

/*TEXT*/
.section-text {
    width: 50vw;
    padding: 20px;
    padding-top:10px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid black;
}

h1, p, h2, ul {
    font-family: var(--font1);
    color: var(--color1);
    font-style: normal;
}

h1 {
    font-size: 5rem;
    letter-spacing: 0.1vw;
    line-height: 0.9;
    font-family: var(--font-2);
}

h2 {
    font-size: 1.2rem;
    padding-bottom: 20px;
    padding-top: 20px;
    text-indent: 25px;
    letter-spacing: 0.1em;
}

p {
    font-size: 1rem;
    line-height: 1.3;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 0.02rem;
    word-spacing: -0.1rem;
}

.link-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: flex-end;
}

.link-list-item{
    text-decoration: underline;
    letter-spacing: 0.05rem;
}

.container-project-details{
    position: fixed;
    top: 0;
    left:0;
    padding: 20px;
    width: 50vw;
    background-color: var(--color2);
    height: 70vh;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-top: 2px solid var(--color1);
    border-left: 2px solid var(--color1);
    border-right: 2px solid var(--color1);
}

.link-list-item:hover + .container-project-details  {
    opacity: 1;
}

.container-body-text p:nth-child(n+2){
    text-indent: 25px;
}

.headline-projects{
    padding-bottom: 10px;
}


/*IMAGES*/
.section-preview-images{
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100vh;
    position: fixed;
    bottom: 0;
    right:0;
    align-items: flex-end;
    overflow-y: hidden;
    border: 2px solid black;
}

.container-images {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
    will-change: transform;
  }

.container-images.paused {
    animation-play-state: paused;
}

.images-preview{
    width: 100%;
    height: auto;
    vertical-align: bottom;
    border: 2px solid black;

}

@keyframes images-moving-up {
    0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-95%);
      }
    100%{
        transform: translateY(0);
    }
}

.container-images:hover{
    animation-play-state: paused;
}

.container-project-details.visible {
    opacity: 1;
}